* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #004e92, #000428);
  color: white;
  font-family: IBM Plex Mono , monospace;
}


.titleHeader, h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 0 0 10px rgba(252, 237, 27, 0.904);
}

h2 {
  text-shadow: 0 0 10px rgba(252, 252, 252, 0.904);
}

.container_planets-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 30px;
}

.planet_card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.planet_card:hover {
  backdrop-filter: blur(3px);
  border: 2px solid rgba(252, 237, 27, 0.904);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  height: 190px;
  text-shadow: 0 0 10px rgba(252, 252, 252, 0.904);
  width: 190px;
}

.planetImage {
  height: 150px;
  padding-bottom: 10px;
  padding-top: 15px;
  transform: rotate(15deg) scale(1.4);
  transition: 0.3s ease-in-out;
  width: 150px;
}


.area-missionsList, h2 {
  gap: 20px 30px;
}

.area-missionsList {
  display: grid;
  grid: gap 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.cards_container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  margin: 1rem;
}

.mission-card {
  align-items: center;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  height: 145px;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 15px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  width: 350px;
}

.mission-card:hover {
  border: 2px solid #6e40c9;
  text-shadow: 0 0 10px #6e40c9;
}

.icons_container, .infos_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  color: whitesmoke;
  font-size: 20px;
}

.infos {
  font-size: 15px;
}
